@charset "UTF-8";
/*========================ADAPTAÇÂO PARA CELULAR========================*/

@media screen and (max-width: 768px) { 
    div#Login{
        left: 51%;
        width: 70%;
        height: 80%;
    }
    div#Imagem{
        height: 30%;
        width: 100%;

    }
    div#Login>div#Formulario{
        display: block;
        height: 70%;
        width: 100%;
        float: top;
    }
    div#Formulario>form>button{
        margin-top: 20px;
        margin-left: 12px;

        width: 95%;
        
        transition: margin-top 0s , background-color 0s;
    }
    div#Formulario>form>button:hover{
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.94);

        
    }
    .Campo{
        margin-top: -10px;

    }
    .Campo>label#us{
        font-size: 2em;
    }
    .Campo>input{
        width: 95%;
        height: 40px;
    }
    a{
        margin-left: 0%;
        font-size: 20px;
    }
}
/*========================ADAPTAÇÂO PARA TABLET========================*/

@media screen and (min-width:768px) and (max-width:992px){
    div#Login{
        width: 90%;
    }
    div#Login>div#Formulario{
        float: right;
    }

    div#Imagem{
        float: left;
    }
    a{
        margin-left: 0%;
    }
    
}
